VITE_SUPABASE_URL=https://bnxgjfjxkexhdxqumywk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJueGdqZmp4a2V4aGR4cXVteXdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYyMjI1NzMsImV4cCI6MjA4MTc5ODU3M30.opwUSGA7QIz-AM36fsuLdicCl3T_n23CWnm6JokzO7o